
body {
    
font-family: 'Roboto Condensed', sans-serif;
}
 
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
            background-color:orange;
        }
        li{
            float: left;
        }
        li a{
            display: block;
            color: ;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover{
            background-color: gray;
        }
        .flot-right{
            float: right;
        }




.display-flex{
    display: flex;
}
.h-color{
    color:orange ;
}
h1{
    font-size: 70px;
    font-weight: 700;
}
.h4-color{
    color: gray;
}
.half-width{
    width: 50%;
    padding: 5%;
    
}
.target-blank{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    color: white;
}

.half-width img{
    width: 100%;
    }

.about-me{
    background-image: url(img/shapes/7.png);
    background-repeat: no-repeat;
    }

.about-img{
  
}

.my-recipie{
    text-align: center;
    
}
.recipies-title-dev{
    display: flex;
    
    width: 100%;
    margin: 0 auto;
    height: auto;
    justify-content: space-between;
}
.recipi-title-img img{
    width: 300px;
    height: 200px;
    padding-top: 20px;
    padding-left: 20px;
    
}
.recipies-title-two{
    width: 30%;
    height: auto;
    box-shadow: 0 0 15px 5px gray;
    border-radius: 15px;

}
.title-two-p{
    padding: 20px;
}

.section-4-div{
    display: flex;
    width: 80%;
    height: 250px;
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 70px;
    box-shadow: 0 0 15px 5px gray;
    border-radius: 10px;
     
   
}

.div-2-sectio-4{
    width: 100%;
    height:300px ;
    text-align: center;
    }
.width-100{
    width: 100%;
    margin-left: 50px;
}

.span-food{
    color:orange ;
}
.section-5-div{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 300px;
    margin-top: 60px;
}
.section-div-2{
    padding: 30px;
}